
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>QueryApp</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<h1>
    QueryApp
</h1>
<form action=""    method="post">
    {% csrf_token %}
    
        {{ form.as_div }}
  
    <br>
    <button type="submit" >Get Syntax</button>
    <p id="demo" class="output-label">Output: </p>
        
    
</form>
<div class="opfield">
<pre class="line-numbers">
   <code class="language-{{ query_language }}">
      {{ output_value }}
   </code>
</pre>
</div>
</body>
</html>